<p id="notice"><%= notice %></p>

<h2>Listing Categories</h2>

<table>
  <tbody>
    <%- @categories.each do |category| %>
	    <tr>
        <td><b><%= link_to category.name, category_path(category) %></b></td>
        <td><%= link_to 'Show', category_path(category) %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr>
        <td>
          Total Income:
        </td>
        <td>
          <strong>
            <%= category.incomes_total %>
          </strong>  
        </td>
      </tr>
      <tr>
        <td>
          Total Cost:
        </td>
        <td>
          <strong>
            <%= category.costs_total %>
          </strong>  
        </td>
      </tr>
      
      
	  <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Category', new_category_path %>
